
<p>
  <strong>Number:</strong>
  <%= @account_template.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @account_template.name %>
</p>

<p>
  <strong>Has inital:</strong>
  <%= @account_template.has_initial %>
</p>

<p>
  <strong>Order:</strong>
  <%= @account_template.order %>
</p>

<%= link_to 'Edit', edit_account_template_path(@account_template) %> |
<%= link_to 'Back', account_templates_path %>
