<!DOCTYPE html>
<html>
<head>
  <title>Vcu</title>
  <meta name="viewport" content="width=320, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/modal" %>

  <app-page>
    <app-header>
      <main-menu class=menu data-menu-expanded="false">
        <h1><img ig="logo" src="<%= image_path "logo.svg" %>" alt="Accounter"> <%= editable @task, :name %></h1>
        <%= render "layouts/main_menu" %>
      </main-menu>
      <placeholder></placeholder>
      <user-menu class=menu data-menu-expanded="false">
        <%= current_user.member? ? "Hallo, #{current_user.name}" : "Hallo, Gast!"%>
        <%= render "layouts/user_menu" %>
      </user-menu>
    </app-header>

    <app-content>
      <%= yield %>
    </app-content>
  
    <app-footer>
      &copy;2015 Martin Wiegand
    </app-footer>
  </app-page>

</body>
</html>
