<!DOCTYPE html>
<html>
<head>
  <title>Vcu</title>
  <meta name="viewport" content="width=320, initial-scale=1" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/modal" %>

  <app-page>
    <app-header>
      <main-menu class=menu data-menu-expanded=false>
        <h1>☰ <%= @task.name %></h1>
        <menu-frame>
          <%= link_to "Kontenvorlagen", account_templates_path, remote: true %>
        </menu-frame>
      </main-menu>
      <user-menu class=menu data-menu-expanded=false>
        <% if current_user.member? %>
          Hallo, <%= current_user.name %>!
        <% else %>
          Hallo, Gast!
        <% end %>
        <menu-frame>
          <% if current_user.member? %>
            <%= link_to "Log Out", logout_path %>
          <% else %>
            <%= link_to "Einloggen", login_path, remote: true %> |
            <%= link_to "Registrieren", signup_path, remote: true %>
          <% end %>
        </menu-frame>
      </user-menu>
    </app-header>

    <app-notice><%= notice %></app-notice>
    <%= yield %>
    
    <app-footer>
      &copy;2015 Martin Wiegand
    </app-footer>
  </app-page>

</body>
</html>
